body
{
    color: #000;
    text-align: center;
    font-family: "Candara";
    font-size: 16px;
}

#cabecera
{
    background: #E67E22;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: honeydew;
    font-weight: black;
    margin: 0;
    padding: auto;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 2px solid #bc239b;
    margin: 0 auto;

}

#container h1
{
    font-size: 30px;
}